.neonText {
    color: #141313;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #e0e1f1,
        0 0 21px #fcf6f6,
        0 0 42px rgb(223, 212, 212),
        0 0 82px rgb(224, 235, 231),
        0 0 92px rgb(181, 186, 233),
        0 0 102px rgb(241, 241, 241),
        0 0 151px rgb(210, 219, 216);
  }

body {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    background-color: rgb(0, 0, 0);
    color: rgb(238, 227, 227);
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
    ;
   
   


}


.container{
    background-color: rgb(8, 8, 8);
    border: 2px solid  rgb(233, 233, 233);
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    width: 300px;
    max-width: 80%;
    z-index: 3;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bfbecc,
    0 0 0.8rem #d2d2d4,
    0 0 2.8rem #d3d3d3,
    inset 0 0 1.3rem #babbc9; 
    
    
    
    
}

.profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid  rgb(231, 233, 245);
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bfbecc,
    0 0 0.8rem #d2d2d4,
    0 0 2.8rem #d3d3d3,
    inset 0 0 1.3rem #babbc9; 
    
}

.sub-title {
    
    margin-bottom: 20px;
    
}

.link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 6px 40px;
    border-radius: 10px;
    margin: 10px 0;
    text-decoration: none;
    background-color: rgb(0, 0, 0);
    border: 2px solid  rgb(235, 235, 238);
    font-weight: bold;
    box-shadow: 0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #f5f4ff,
    0 0 0.8rem #dddddd,
    0 0 2.8rem #dbdff5,
    inset 0 0 1.3rem #d8d9e7; 
   

    

    p {
        color: rgb(0, 0, 0);

    }
}

.imagem-de-fundo {
    object-fit: cover;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 99%;
    height: 99%;
    transform: translate(-50%, -50%);
    opacity: 40%;
   
}
   
.link:hover {
    background-color: #ebebf0;
    transition: 0.5s;
}